@font-face {
  font-family: "Poppins-Medium";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins-Medium.eot?") format("embedded-opentype"); }
@font-face {
  font-family: "Poppins-Light";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype"), url("../fonts/Poppins-Light.eot?") format("embedded-opentype"); }
